.haut {
    display: flex;
}

.haut
{
    justify-content: space-between;

}

.text
{
    text-align: center
}

.logo1
{
	text-align: center
}

h1
{
	text-align: center;
}
h2
{
	text-align: center;
}
.phrase
{
    text-align: center
}
.logofinale
{
 text-align: right
}
.logof
{
    width: 8%
}
.logot
{
    width: 8%
}

.logol
{
    width: 8%;
    text-align: right;
}
.text {
    width:700px;
    padding:40px;
    margin:auto;
    }
    .bloc
    .fond
    {
        border:solid 1px black;
    
    }